<%- include('../partials/header') %>

<h1><%=title%></h1>

<div class="row">
  <div class="col-md-4">
    <img src="/images/tablet_valentina.png" alt="Valentina" class="img-fluid rounded shadow">
  </div>
  <div class="col-md-8">
    <h2>Hi I'm Valentina</h2>
    <p>I'm a web development student at North Seattle College, originally from Colombia. I'm taking IT102 and this site is one of my projects for the class.</p>
    <p>I got into tech because I wanted to understand how digital things are built from the inside, not just use them. Most of my web stuff before this was static HTML files. This was the first time I used a real backend and it was kind of mind bending honestly.</p>
    <p>Outside of tech I'm into music, singing, live concerts, and photography. Bilingual in Spanish and English.</p>
    <a href="/projects" class="btn btn-primary">See My Projects</a>
  </div>
</div>

<%- include('../partials/footer') %>
